body {
  text-align : center;
  font-family: 'Arial';
}

h1 {
  color: black;
}

p {
  color: blue;
}
button {
  background-color: white;
  color: black;
}
.delete {
  background-color: black;
  color: white;
}
