body {
  text-align: center;
  font-family: 'Arial';
}

h1 {
  color: red;
}

p {
  color: blue;
}

ul {
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}

li {
  border-style: solid
}

.delete {
  float: right;
  background-color: black;
  color: white;
}
