body {
  text-align: center;
  font-family: 'Arial';
}

h1 {
  color: red;
}

p {
  color: blue;
}

ul {
  text-align:left;
  style="list-style-type:decimal";
  margin-left: 20%;
  margin-right: 20%;
}

li {
  border-style: double;
}

.delete {
  float: right;
  background-color: black;
  color: white;
}
